extends layout

block content
  h1= title
  .container-fluid
    .row 
    .m-1
      each value,key in results
        - let destination = `dispatch(\"/Drinks/update?id=${value._id}\")`
        div(class="col-sm-2" onclick=`buy(${key})`)
            = value.drink_Name+" "+value.shop+" "+value.price
            br
        button.btn( class="btn-sm btn-outline-white btn-success  ml-1", onclick= destination) To Update Records

  script.
    function dispatch(path){
      window.location.href=path
    }      

  script.
    function buy(index){
      alert("You purchased item "+index)
    }