extends layout 
 
block content 
  h1= title 
 
  - let Drinksid = toShow._id 
  - let Drinksname = toShow.drink_Name
  - let DrinksShop = toShow.shop 
  - let DrinksPrice = toShow.price 
   
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{Drinksid} 
  - let actionid = "/resource/Drinks/" + Drinksid 
  form(id='DrinksForm', action= actionid, method="PUT") 
    div.form-group 
        label.DrinksAttr(for='drink_Name') Drinks Name 
        input#drink_Name(class="bg-light border border-dark rounded-3 shadow-lg p-2 d-grid gap-3 text-dark" type='text', name='drink_Name', value = Drinksname) 
    div.form-group 
        label.DrinksAttr(for='shop') Drinks Shop
        input#shop(class="bg-light border border-dark rounded-3 shadow-lg p-2 d-grid gap-3 text-dark" type='text', name='shop', value = DrinksShop) 
    div.form-group 
        label.DrinksAttr(for='price') Drinks price 
        input#price(class="bg-light border border-dark rounded-3 shadow-lg p-2 d-grid gap-3 text-dark" type='number', name= 'price', value = DrinksPrice) 
    input(type="submit") 
 
  script. 
    document.forms['DrinksForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    }); 